body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pass-wrapper {
    position: relative;
}

i {
    position: absolute;
    top: 20%;
    right: 3%;
}

i:hover {
    color: #ff0f00;
    cursor: pointer;
}

.react-bootstrap-table-page-btns-ul {
    float: right;
    margin-top: 0 !important;
}
